<header class="c-header c-header-fixed">
  <div class="c-header-left">
    <div class="c-header-item">
      <a href="{{ site.url }}{{ site.baseurl }}/index.html" class="c-header-item-link c-header-logo">
       <img src="{{ site.url }}{{ site.baseurl }}/assets/img/c-blue.png">
      </a>
    </div>

  </div>

  <div class="c-header-center"></div>
  <div class="c-header-right">
        <div class="c-header-item">
          <a class="c-header-item-link" href="{{ site.url }}{{ site.baseurl }}/content/getting-started/introduction">
            Docs
          </a>
        </div>
        <div class="c-header-item">
            <a class="c-header-item-link" href="{{ site.url }}{{ site.baseurl }}{{ site.extensions }}">
              Extensions
            </a>
          </div>        
    <div class="c-header-item">
      <a class="c-header-item-link" href="{{ site.url }}{{ site.baseurl }}{{ site.blog }}">
        Blog
      </a>
    </div>
    <div class="c-header-item c-hidden-xs">
      <a class="c-header-item-link" href="{{ site.repo }}">
        <span class="fa fa-github" aria-hidden="true"></span>
      </a>
    </div>
    <div class="c-header-item c-hidden-xs">
      <a class="c-header-item-link" href="{{ site.slack }}">
        <span class="fa fa-slack" aria-hidden="true"></span>
      </a>
    </div>

  </div>
</header>

