<div class="c-footer">
    <div class="c-footer-left">
      © 2018 Ipreo. All Rights Reserved.
    </div>
    <div class="c-footer-right">
      <div class="c-footer-link">
        <a href="{{ site.slack }}" class="c-a" target="_blank">
            <span class="fab fa-slack-hash" aria-hidden="true"></span>
            Slack
        </a>
      </div>
      <div class="c-footer-link">
        <a href="{{ site.repo }}" class="c-a" target="_blank">
            <span class="fab fa-github" aria-hidden="true"></span>
            Github
        </a>
      </div>
      <div class="c-footer-link">
          <a href="{{ site.url }}{{ site.baseurl }}/release-notes/" class="c-a">
            <span class="fas fa-info-circle" aria-hidden="true"></span>
              Release Notes
          </a>
      </div>
    </div>
  </div>
