<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ page.description | default: site.description }}">

<title>
  {%- if page.title -%}
     {{ site.title }} · {{ page.title }}
  {%- else -%}
    {{ site.title }} · {{ site.description }}
  {%- endif -%}
</title>


<!-- Documentation extras -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/cupcake/default.css"> -->

<link rel="stylesheet" href="https://unpkg.com/@cupcake-ds/cupcake/dist/cupcake.css">
<link rel="stylesheet" href="https://unpkg.com/@cupcake-ds/cupcake@2.0.0-beta.5/dist/cupcake-shim.css">
<link rel="stylesheet" href="https://unpkg.com/@cupcake-ds/cupcake@2.0.0-beta.5/dist/experimental.css">

<!-- Documentation extras -->
<link href="{{ site.url }}{{ site.baseurl }}/assets/scss/documentation.css" rel="stylesheet">
