<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ page.description | default: site.description }}">

<title>
  {%- if page.title -%}
     {{ site.title }} · {{ page.title }}
  {%- else -%}
    {{ site.title }} · {{ site.description }}
  {%- endif -%}
</title>



{%- if page.toc-flavors == false -%}
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/cupcake/default.css">
{%- else -%}

<!-- Theme Switch -->
<script>
  var themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
    {};
  var themeName = themeSettings.themeName || '';
  if (themeName) {
    document.write('<link rel="stylesheet" id="theme-style" href="{{ site.url }}{{ site.baseurl }}/assets/cupcake' + themeName + '.css">');
  } else {
    document.write('<link rel="stylesheet" id="theme-style" href="{{ site.url }}{{ site.baseurl }}/assets/cupcake/default.css">');
  }
</script>


{%- endif -%}

<!-- Documentation extras -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.js"></script>
<script defer src="{{ site.url }}{{ site.baseurl }}/assets/js/fontawesome-all.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
<link href="{{ site.url }}{{ site.baseurl }}/assets/scss/documentation.css" rel="stylesheet">