<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/plugins.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/script.js"></script>

{%- if page.title == "Modal" -%}
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/modal.js"></script>
{%- endif -%}

{%- if page.title == "Dropdown" -%}
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/dropdown.js"></script>
{%- endif -%}




