{% if page.group == "elements" %}
  {% assign items = site.elements | group_by: 'category' %}
{% elsif page.group == "patterns" %}
  {% assign items = site.patterns | group_by: 'category' %}
{% elsif page.group == "getting-started" %}
  {% assign items = site.getting-started | group_by: 'category' %}
{% endif %}


<aside class="c-sidenav">
  <nav class="c-sidenav-body">
    <ul class="c-sidenav-menu">
      <li class="c-sidenav-menu-item">
        {% for cat in items %}
        <span class="c-sidenav-menu-link">
          <span class="c-sidenav-menu-title">
            {{ cat.name | capitalize }}
          </span>
        </span>
        <ul class="c-sidenav-menu-submenu">
          {% assign items = cat.items | sort: 'weight' %}
          {% for item in items %}
          <li class="c-sidenav-menu-item {% if item.url == page.url %}c-sidenav-menu-item-active{% endif %}">
            <a class="c-sidenav-menu-link" href="{{ item.url }}">
              {{ item.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </li>
    </ul>
  </nav>
</aside>
