{% if page.group == "elements" %}
  {% assign items = site.elements | group_by: 'category' %}
{% elsif page.group == "patterns" %}
  {% assign items = site.patterns | group_by: 'category' %}
{% elsif page.group == "getting-started" %}
  {% assign items = site.getting-started | group_by: 'category' %}
{% endif %}


<aside class="c-sidenav">
  <nav class="c-sidenav-body">
    <ul class="c-sidenav-menu">
      <div class="c-sidenav-navbar">
        <a class="c-sidenav-navbar-link {% if page.group == "getting-started" %}c-sidenav-navbar-link-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/getting-started/overview">
          Getting Started
        </a>
        <a class="c-sidenav-navbar-link {% if page.group == "elements" %}c-sidenav-navbar-link-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/elements/overview">
          Elements
        </a>
        <a class="c-sidenav-navbar-link {% if page.group == "patterns" %}c-sidenav-navbar-link-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/patterns/overview">
          Patterns
        </a>
      </div>      
      <li class="c-sidenav-menu-item">
        {% for cat in items %}
        <span class="c-sidenav-menu-link">
          <span class="c-sidenav-menu-title">
            {{ cat.name | capitalize }}
          </span>
        </span>
        <ul class="c-sidenav-menu-submenu">
          {% assign items = cat.items | sort: 'weight' %}
          {% for item in items %}
          <li class="c-sidenav-menu-item {% if item.url == page.url %}c-sidenav-menu-item-active{% endif %}">
            <a class="c-sidenav-menu-link" href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">
              {{ item.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </li>
    </ul>
  </nav>
</aside>
