// Docsearch overrides
//
.algolia-autocomplete {
  display: block !important;
  flex: 1;

  // Menu container
  .ds-dropdown-menu {
    width: auto !important;
    min-width: 300px !important;
    max-width: none !important;
    background-color: $color-white;
    background-clip: padding-box;
    border: 1px solid $color-gray-3;
    margin: $space-sm $space-0 $space-0;
    border-radius: $radius-sm !important;
    box-shadow: $shadow-lg !important;
    // Caret
    &::before {
      left: $space-sm + 1 !important;
    }

    [class^="ds-dataset-"] {
      padding: $space-0 !important;
      overflow: visible !important;
      background-color: transparent !important;
      border: 0 !important;
    }

    .ds-suggestions {
      margin-top: $space-0 !important;
      padding: $space-xs !important;
      border-bottom: 1px solid $color-gray-1 !important;
    }
  }

  .algolia-docsearch-suggestion {
    padding: $space-0 !important;
    overflow: visible !important;

    &--category-header {
      padding: $space-xs $space-sm !important;
      margin-top: $space-0 !important;
      font-size: 14px !important;
      font-weight: 700 !important;
      color: $color-gray-7 !important;
      border-bottom: 0 !important;
    }
  
    &--wrapper {
      float: none !important;
      padding-top: $space-0 !important;
    }
  
    // Section header
    &--subcategory-column {
      float: none !important;
      width: auto !important;
      padding: $space-0 !important;
      text-align: left !important;
    }
  
    &--subcategory-inline {
      display: block !important;
      font-size: 12px;
      color: $color-gray-6;
  
      &::after {
        padding: $space-0 $space-xs;
        content: "/";
      }
    }
  
    &--content {
      display: flex;
      flex-wrap: wrap;
      float: none !important;
      width: 100% !important;
      padding: $space-sm $space-sm !important;
      margin: $space-xxs $space-0 !important;
      border-radius: $radius-sm !important;
  
      // Vertical divider between column header and content
      &::before {
        display: none !important;
      }
    }

    &--title {
      display: block;
      font-size: 12px;
      margin-bottom: $space-0 !important;
      font-weight: 500 !important;
    }
  
    &--text {
      flex: 0 0 100%;
      max-width: 100%;
      padding: $space-sm $space-0;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.25 !important;
      color: $color-gray-7;

      .algolia-docsearch-suggestion--highlight {
        box-shadow: inset 0 -2px 0 0 $color-primary-7 !important;
        background: inherit;
        color: inherit;
      }
    }

    &--highlight {
      color: $color-primary-8;
      background-color: $color-gray-2;
    }
  
  }

  .ds-suggestion {

    &.ds-cursor .algolia-docsearch-suggestion--content {
      background-color: $color-gray-1 !important;
    }

    &:not(:first-child) {
      .algolia-docsearch-suggestion--category-header {
        padding-top: $space-sm !important;
        margin-top: $space-sm !important;
        border-top: 1px solid rgba(0, 0, 0, .1);
      }
    }

    .algolia-docsearch-suggestion--subcategory-column {
      display: none !important;
    }
  }

  .algolia-docsearch-footer {
    padding: $space-sm !important;
    height: 31px !important;
    margin-top: $space-0 !important;
  }
}

