//
// Callouts
//
// Variations
@mixin docs-callout-variant($color) {
  border-left-color: $color;

  h2, h3, h4, h5 { 
    color: $color; 
    margin: 0;
  }
}

.docs-callout {
  padding: $space-sm;
  margin-top: $space-md;
  margin-bottom: $space-md;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: 0;

  & h4 {
    font-size: 16px;
  }
  
  & p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  & code {
    border-radius: .25rem;
  }

  + .docs-callout {
    margin-top: -.25rem;
  }

  &-info { 
    @include docs-callout-variant($info);
    background: $color-info-0;
  }
  
  &-warning { 
    @include docs-callout-variant($warning); 
    background: $color-warning-0;
  }
  
  &-danger { 
    @include docs-callout-variant($danger); 
    background: $color-danger-0;
  }
}
