
$color-info-0: #e3fafc !default;
$color-info-1: #c5f6fa !default;
$color-info-2: #99e9f2 !default;
$color-info-3: #66d9e8 !default;
$color-info-4: #3bc9db !default;
$color-info-5: #22b8cf !default;
$color-info-6: #15aabf !default;
$color-info-7: #1098ad !default;
$color-info-9: #0b7285 !default;
$color-info-8: #0c8599 !default;

.color-list {
  display: flex;
  flex-direction: column;
}

.color-block {
  background-color: white;
  box-shadow: 0 1px 0 $color-gray-2;
  overflow: hidden;
  margin: 1rem 0;
  position: relative;
  min-width: 150px;

  .colors {
    height: 6rem;
    width: 100%;
    display: flex;

    span {
      flex: 1;
      display: block;

      &:hover {
        cursor: pointer;
        z-index: 1000;
      }
    }
  }

  h3 {
    color: #777;
    background-color: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 0 !important;
    padding: 6px 8px;
    letter-spacing: 2px;
  }

  ul {
    list-style: none;
    font-size: 8px;
    padding: 0;
    color: #777777;
    display: flex;
    min-height: 58px;

    li {
      flex: 1;
      display: block;
      text-align: center;
      font-size: 12px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

#clipboardItem:hover::after {
  content: attr(tooltip);
  padding: 6px;
  top: 0px;
  color: #fefefe;
  display: flex;
  font-size: 12px;
  justify-content: center;
  background: #212529;
}

@include media-breakpoint-down(sm) {
  .color-block {
    .colors {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    
    span {
      flex: 1;
      display: block;
      min-width: 300px;
      height: 50px;
    }

    ul {
      flex-wrap: wrap;
      display: none;
    }
  }
}