body {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
  color: #33475b;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;	
}

li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;	
}

h1 {
  font-weight: 700;
  font-size: 32px;
  margin: .67em 0;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin: .67em 0;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  margin: .67em 0;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  margin: .67em 0;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  margin: .67em 0;
  }

a {
  color: $primary;

  &:hover {
    color: lighten($primary, 5);
  }
}


.main-demo-content,
.main-content {
  h1, h2 {
    color: $color-gray-8;
      &:first-child {
        margin-top: 2rem;
      }
      &:not(:first-child) {
        margin-top: 3rem;
    }
  }
  	
  h3 {		
    margin-top: 1.5rem;		
  }		
  	
  ul li:not(.toc-entry):not(.c-tab-item),	
  ol li:not(.toc-entry) {		
    margin-bottom: .25rem;
    font-size: 14px;
    line-height: 1.5;	
  }

  hr {
    max-width: 100%;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #f1f3f5;
    border-left: 0;
    margin: 20px auto;
    clear: both;
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  table > thead > tr > th,
  table > thead > tr > td,
  table > tbody > tr > th,
  table > tbody > tr > td,
  table > tfoot > tr > th,
  table > tfoot > tr > td {
    border: 1px solid #ccc;
  }

  table > thead > tr > th > p:last-child,
  table > thead > tr > td > p:last-child,
  table > tbody > tr > th > p:last-child,
  table > tbody > tr > td > p:last-child,
  table > tfoot > tr > th > p:last-child,
  table > tfoot > tr > td > p:last-child {
    margin-bottom: 0;
  }

   table td:first-child > code {
    white-space: nowrap;
  }
}


//
// Docs sections
//

.docs-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 600;

  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
}

.docs-lead {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: normal;

  @include media-breakpoint-up(sm) {
    max-width: 80%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}


.docs-bg-img {
  background-image: url("https://pages.code.ipreo.com/Ipreo/cupcake-docs/assets/img/general-colorful.png");
  z-index: 2;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.special-link {
  text-decoration: none;
  position: relative;
  transition: all 0.6s;

  &::before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: -2px;
    left: 50%;
    background: #00aeff;
    transition: all 0.3s;
  }

  &:hover {
    &::before {
      width: 100%;
      left: 0;
      background: #329af0;
    }
  }
}

.special-link-white {
  text-decoration: none;
  position: relative;
  transition: all 0.6s;
  color: #fff !important;

  &::before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: -2px;
    left: 50%;
    background: #fff;
    transition: all 0.3s;
  }

  &:hover {
    &::before {
      width: 100%;
      left: 0;
      background: #fff;
    }
  }
}

.docs-spacing > div {
  display: flex;
  flex-wrap: wrap;
}

.docs-spacing [class*='c-p-'] {
  position: relative;
  width: 17rem;
  height: 17rem;
  outline: 1px dashed $color-primary-7;
  background: $color-primary-1;
  color: black;
}

.docs-spacing [class*='c-m-'] {
  position: relative;
  width: 17rem;
  height: 17rem;
  background: $color-primary-2;
  color: black;
  font-weight: bold;
}

.docs-spacing [class*='c-p-'] {
  margin: 1rem;
}

.docs-spacing [class*='c-m-']::before,
.docs-spacing [class*='c-p-']::before {
  content: '';
  display: block;
  background: $color-primary-7;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.docs-spacing [class*='c-m-']::after,
.docs-spacing [class*='c-p-']::after {
  content: "." attr(class);
  display: block;
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translate3d(0, -50%, 0);
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
  padding: 0 2rem 2rem;
  @include media-breakpoint-down(md) {
    padding: 1rem;
  }
}

.main-demo-content {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  flex: 1 0 auto;
  @include media-breakpoint-up(sm) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.c-p-lg.c-p-lg {
  @include media-breakpoint-down(md) {
    padding: 1rem;
  }
}

.docs-content {
  border-right: 1px solid #e9ecef;
  @include media-breakpoint-down(lg) {
    border-right: none;
  }
}
