$font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$color-primary: #1c7cd6;
$color-bg: #202932;
$color-copy: #889bb0;
$color-title: #fff;
$container__width: 1080px;
$padding-mobile: 16px;
$padding-desktop: 24px;

body {
  margin: 0
}

.body-wrap {
	display: flex;
	flex: 1 0 auto;
	overflow: hidden;
	min-height: 100vh;
	background: $color-bg;
	flex-direction: column;
}

.docs-landing {
	margin: 0 auto;
	padding-top: 40px;
	text-align: center;
	color: $color-title;
	padding-left: $padding-mobile;
	padding-right: $padding-mobile;
	max-width: $container__width + ($padding-desktop * 2);

	@media (min-width: 481px) {
		padding-left: $padding-desktop;
		padding-right: $padding-desktop;
	}

	&-paragraph {
		margin-top: 0;
		font-size: 20px;
		line-height: 30px;
		color: $color-copy;
		margin-bottom: 40px;
		letter-spacing: -0.1px;
		font-family: $font-base;
	}

	&-title {
		font-size: 42px;
		margin-top: 48px;
		font-weight: 700;
		line-height: 52px;
		margin-bottom: 16px;
		color: $color-title;
		letter-spacing: -0.1px;
		font-family: $font-base;
	}

	&-illustration {
		margin-top: 48px;
		position: relative;
	}

	&-shape {
		display: none;
		position: absolute;
	}

	&-main-shape {

		svg {
			width: 140%;
			height: auto;
		}
	}
}

@media (max-width: 641px) {
	.docs-landing-title {
		margin-top: 8px;
	}
}

@media (min-width: 641px) {

	.docs-landing {
		display: flex;
		text-align: left;
		padding-top: 200px;

		&-copy {
			min-width: 512px;
			padding-right: 48px;
		}

		&-illustration {
			padding-bottom: 0;
			margin-top: -143px;
		}

		&-shape {
			display: block;
		}

		&-shape-1 {
			top: 542px;
			left: -32px;
		}

		&-shape-2 {
			top: 538px;
			left: -733px;
		}

		&-shape-3 {
			top: 78px;
			left: -653px;
		}

		&-main-shape {

			svg {
				width: auto;
				height: 647px;
			}
		}
	}
}

@media (min-width: 1025px) {

	.docs-landing-copy {
		padding-right: 92px;
		min-width: 620px;
	}
}

.button {
	height: 48px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	border-radius: 2px;
	padding: 16px 32px;
	text-align: center;
	white-space: nowrap;
	justify-content: center;
	color: #fff !important;
	font-family: $font-base;
	background: $color-primary;
	transition: background .15s ease;
	text-decoration: none !important;

	&:active {
		outline: 0;
	}

	&::before {
		border-radius: 2px;
	}

	&:hover {
		background: lighten($color-primary, 3%);
	}
}
