//
// Right side table of contents
//

.docs-toc {
  @supports (position: sticky) {
    position: sticky;
    top: 0;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
  }

  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: $toc-font-size;
}

.section-nav {
  padding-left: 0;
  // border-left: 1px solid $toc-border;

  ul {
    padding-left: 1rem;

    ul {
      display: none;
    }
  }
}

.toc-entry {
  display: block;

  a {
    display: block;
    padding: .5rem;
    color: $toc-color;
    text-transform: capitalize;
    line-height: 1;
    font-size: 13px;

    &:hover {
      color: $toc-color-hover;
      text-decoration: none;
    }
  }
}

.docs-search {
  position: relative; // To contain the Algolia search
  padding: 1rem 15px;
  border-bottom: 1px solid $color-gray-2;
}

.docs-hamburger {
  line-height: 1;
  color: $color-gray-6;
}


.docs-logo {
  display: inline-block;
  width: 100%;
  color: $color-gray-8;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  line-height: 2;
  margin-top: 2rem;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid $color-gray-2;

  & span {
    font-weight: 400;
  }

  @include media-breakpoint-down(md) {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  svg {
    display: block;
    width: 100%;
    padding-bottom: 8px;
  }
}


.c-sidenav {
  left: 0;
  top: 50px;
  bottom: 0;
  height: 100%;
  z-index: 1000;
  display: block;
  position: fixed;
  overflow-y: auto;
  white-space: nowrap;
  transition: all 0.3s;
  color: $sidebar-color;
  width: $sidebar-width;
  background-color: $sidebar-bg-color;
  border-right: $sidebar-border-right;

  &-body {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 24px 50px;
  }

  &-menu {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
    list-style: none;

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 700;
      color: $sidebar-color;
    }
    
    &-icon {
      flex-basis: 26px;
      flex-shrink: 0;
      font-size: 18px;
      color: $sidebar-icon-color;
      text-align: center;

      &:hover {
        color: $sidebar-color;
      }
    }

    &-arrow {
      display: inline-block;
      margin-right: 5px;
      font-size: 12px;
      color: $sidebar-color;
      cursor: pointer;
      transition: transform .1s linear
    }

    &-title {
      margin-top: 48px;
      margin-bottom: 16px;
      padding: 0 8px;
      color: #adb5bd;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      }

    &-submenu {
      display: block;
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none; 
      
      .c-sidenav-menu-link {
        font-weight: 400;
        color: $sidebar-color;
        letter-spacing: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 14px;
        text-decoration: none;
        padding: 0 8px;
        line-height: 40px;

        &:hover {
          color: $sidebar-color;
          background-color: #f1f3f5;
          border-radius: 4px;
        }
      }
      .c-sidenav-menu-item-active {
        .c-sidenav-menu-link {
          background-color: #f1f3f5;
          border-radius: 4px;
          font-weight: bold;
        }
        &:hover > .c-sidenav-menu-link{
          background-color: #f1f3f5;
          border-radius: 4px;
        }
      }
    }
  }
}


.c-sidenav~.main-container {
  margin-left: $sidebar-width;
}


.c-sidenav-menu-item:hover>.c-sidenav-menu-link {
  color: $sidebar-color-active;
}

.c-sidenav-menu-item-active>.c-sidenav-menu-link .c-sidenav-menu-icon,
.c-sidenav-menu-item:hover>.c-sidenav-menu-link .c-sidenav-menu-icon {
  color: $sidebar-color-active
}

.c-sidenav-menu-item-active>.c-sidenav-menu-link {
  color: $sidebar-color-active;
}


.c-sidenav-menu-link .c-sidenav-menu-icon:hover {
  color: $sidebar-color;
}


.c-sidenav-menu-item.c-sidenav-menu-item-active {
  .c-sidenav-menu-submenu {
    display: block !important;
  }
}


@include media-breakpoint-down(md) {
  .docs-logo {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
    align-content: center;
    align-items: center;

    svg {
      display: block;
      width: 35px;
      height: 35px;
      padding-bottom: 0;
    }
  }
}

.c-header-item-link-logo {
  width: $sidebar-width;
  padding-left: 14px;

  svg {
    width: 35px;
    height: 35px;
    padding: 0;
    margin-right: 8px;
  }
}
