.c-sidenav {
  left: 0;
  top: 48px;
  bottom: 0;
  height: 100%;
  z-index: 1000;
  display: block;
  position: fixed;
  overflow-y: auto;
  white-space: nowrap;
  transition: all 0.3s;
  color: $sidebar-color;
  width: $sidebar-width;
  background-color: $sidebar-bg-color;
  border-right: $sidebar-border-right;

  &-body {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 24px 50px;

    @include media-breakpoint-down(sm) {
      padding: 0 24px 24px;
    }
  }

  &-menu {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
    list-style: none;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0px;
    }

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 700;
      color: $sidebar-color;
    }

    &-title {
      margin-top: 48px;
      margin-bottom: 16px;
      padding: 0 8px;
      color: #adb5bd;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        margin-top: 24px;
      }
    }

    &-submenu {
      display: block;
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none; 
      
      .c-sidenav-menu-link {
        font-weight: 400;
        color: $sidebar-color;
        letter-spacing: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 14px;
        text-decoration: none;
        padding: 0 8px;
        line-height: 40px;

        &:hover {
          color: $sidebar-color;
          background-color: #f1f3f5;
          border-radius: 4px;
        }
      }
      
      .c-sidenav-menu-item-active {
        .c-sidenav-menu-link {
          background-color: #f1f3f5;
          border-radius: 4px;
          font-weight: bold;
        }
        &:hover > .c-sidenav-menu-link{
          background-color: #f1f3f5;
          border-radius: 4px;
        }
      }
    }
  }
}

.c-sidenav~.main-container {
  margin-left: $sidebar-width;
}

.c-sidenav-menu-item:hover>.c-sidenav-menu-link {
  color: $sidebar-color-active;
}

.c-sidenav-menu-item-active>.c-sidenav-menu-link .c-sidenav-menu-icon,
.c-sidenav-menu-item:hover>.c-sidenav-menu-link .c-sidenav-menu-icon {
  color: $sidebar-color-active
}

.c-sidenav-menu-item-active>.c-sidenav-menu-link {
  color: $sidebar-color-active;
}

.c-sidenav-menu-link .c-sidenav-menu-icon:hover {
  color: $sidebar-color;
}

.c-sidenav-menu-item.c-sidenav-menu-item-active {
  .c-sidenav-menu-submenu {
    display: block !important;
  }
}

.c-sidenav-navbar {
  display: none;

  &-link {
    color: #6f7c8a;
    white-space: nowrap;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    padding: 0 8px;
    line-height: 40px;

    &-active {
      color: #454545;
      font-weight: bold;
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;
    margin: 12px 0 0;
  }
}

.c-header-item-link-logo {
  width: $sidebar-width;
  padding-left: 14px;

  svg {
    width: 35px;
    height: 35px;
    padding: 0;
    margin-right: 8px;
  }
}
