.show-me {
  display: block;
}

figure.highlight {
  display: block !important;
  margin: 0;
}

.code-slide .highlight {
	display: none;
}
.code-slide.view-source .highlight {
	z-index: 2;
  display: block;
  position: relative;
}

.doc-btn {
  display: none;
  position: absolute;
  bottom: -26px;
  right: 8px;
  z-index: 1002;
}

.code-inline {
  .doc-btn {
    display: block;
    box-shadow: none;
    border-radius: 0;
  }
}

.view-source .doc-btn {
  display: inline-block;
}

 code[class*="language-"],
 pre[class*="language-"] {
   color: $color-gray-0;
   font-family: Consolas, Monaco, 'Andale Mono', monospace;
   direction: ltr;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   tab-size: 2;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
  padding: 5px 20px 20px;
  margin: 0;
  overflow: auto;
  font-size: 13px;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: $dark;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }
 
 .token.punctuation {
   color: #999;
 }
 
 .namespace {
   opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.boolean,
 .token.number {
   color: #ff9800;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string {
   color: rgb(126, 189, 1);
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string {
   color: #a67f59;
   background: hsla(0,0%,100%,.5);
 }
 
 .token.atrule,
 .token.attr-value,
 .token.keyword {
   color: rgb(3, 165, 235);
 }
 
 
 .token.regex,
 .token.important {
   color: #e90;
 }
 
 .token.important {
   font-weight: bold;
 }
 
 .token.entity {
   cursor: help;
 }
 pre[data-line] {
   position: relative;
   padding: 1em 0 1em 3em;
 }


.split {
  display: flex;

  .view-source {
    display: flex;
    flex-grow: 1;
    align-content: space-between;
    justify-content: space-between;
  }

  .docs-snippet {
    flex-grow: 1;
  }

  &.example.code-inline { 
    .doc-btn {
      position: absolute;
      bottom: -1px;
      right: -1px;
      z-index: 2;
      border-bottom: 0;
      border-right: 0;
      background: none;
      padding-bottom: 4px;
      border-color: #e9ecef;
    }
    .highlight {
      z-index: 2;
      display: flex !important;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 50%;
  }
}

  &.code-slide.view-source .highlight {
    z-index: 2;
    display: flex !important;
    position: relative;
  }

  code[class*="language-"], 
  pre[class*="language-"] {
    padding: 5px 20px 20px;
    margin: 0;
    overflow: auto;
    font-size: 13px;
  }
}

.hide-example {
  .docs-snippet {
    display: none !important;
  }
}