.tabs {
  padding: 0;
  display: flex;
  min-width: 130px;
  min-height: 28px;
  list-style: none;
  margin-left: auto;
  position: relative;
  border-radius: 18px;
  align-items: center;
  justify-content: space-around;
  background: rgba(36, 36, 36, 0.25);
}

.PageTitle {
  align-items: center;
  display: flex;
}


.tab-content {
  display: none;
}


.tab-content.active {
  display: block;
  opacity: 1;
}


.tab-link {
  padding: 0 8px;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    cursor: pointer;
  }

  &.active {
    color: #000;
    background: #fcfcfc;
    border-radius: 40px;
  }
}


.docs-tabs {
  height: 32px;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  align-items: stretch;
  font-weight: bold;
  font-size: 12px;
  box-shadow: inset 0 -1px 0 0 #e9ecef;
  list-style: none;

  li {
    display: flex;
    color: #495057;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 !important;
    padding: 0;
    flex: 1;
    line-height: 32px;

    a {
      color: #495057;
      padding-bottom: 8px;
    }
  }

  .active {
    color: #1b6ec2;
    border-bottom: 2px solid #1b6ec2;

    a {
      color: #1b6ec2;
      font-weight: bold;
    }
  }
}