@import "color";


$primary:          $color-primary-8;
$info:             $color-info-7;
$success:          $color-success-7;
$warning:          $color-warning-7;
$danger:           $color-danger-7;

$dark: #212529;

$sidebar-width: 250px;
$sidebar-color: $dark;
$sidebar-color-active: $primary;
$sidebar-bg-color: #f8f9fa;
$sidebar-icon-color: #adb5bd;
$sidebar-border-right: 1px solid #e9ecef;