---
---

@import "mixins";

// Load docs components  
@import "variables";
@import "landing";
@import "article";
@import "content";
@import "sidebar";
@import "tabs";
@import "component-examples";
@import "callouts";

// Load docs dependencies
@import "syntax";
@import "anchor";
@import "algolia";


@media (max-width:767px) {
  .c-sidenav {
    width: 100%;
    position: relative;
  }

  .c-sidenav-body {
    display: none;
  }

  .main-container {
    width: 100%;
    margin-left: 0 !important;
  }

  .docs-bg-img {
    padding: 1.5rem 1rem !important;
  }
}

[data-tooltip]::after {
  padding: 4px 10px;
  border-radius: 3px;
  line-height: 12px;
  max-width: 300px;
  font-size: 12px;
}

iframe {
  border: 0;
}


::-webkit-scrollbar {
  width: .25em;
}

::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background-color: #ced4da;
  outline: none;
}

.c-header-inverse {
  background: $dark;
  height: 48px;
}

.c-header-item-link {
  height: 48px;
  padding: 0 16px;
  font-size: 15px;
}
