---
---

@import "mixins";

// Load docs components  
@import "variables";
@import "landing";
@import "article";
@import "content";
@import "sidebar";
@import "tabs";
@import "component-examples";
@import "callouts";

// Load docs dependencies
@import "syntax";
@import "anchor";
@import "algolia";


@media (max-width:767px) {
  .doc-sidenav {
    width: 100%;
    position: relative;
  }

  .doc-sidenav-body {
    display: none;
  }

  .main-container {
    width: 100%;
    margin-left: 0 !important;
  }

  .docs-bg-img {
    padding: 1.5rem 1rem !important;
  }
}

[data-tooltip]::after {
  padding: 4px 10px;
  border-radius: 3px;
  line-height: 12px;
  max-width: 300px;
  font-size: 12px;
}

iframe {
  border: 0;
}


::-webkit-scrollbar {
  width: .25em;
}

::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background-color: #ced4da;
  outline: none;
}

.c-header-inverse.docs-nav {
  background: $dark;
  height: 48px;
}

.c-header-item-link {
  height: 48px;
  padding: 0 16px;
  font-size: 15px;
}


.docs-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.docs-flavor-switch {
  position: relative;
}

.docs-flavor-list-item a {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  line-height: 20px;
  margin: 8px;
  padding: 8px;
  white-space: nowrap;
  color: #343a40;
  text-overflow: ellipsis;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

.docs-flavor-list-item a:hover {
  background-color: #f1f3f5;
  color: #343a40;
}

.docs-flavor-button {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  min-height: 32px;
  line-height: 20px;
  color: #343a40;
  display: inline-block;
  border-radius: 2px;
  background-color: #f1f3f5;
  border: 1px solid #ced4da;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  padding: 4px 34px 4px 8px;
}

.docs-flavor-button:hover {
  background-color: #f8f9fa;
}

.docs-flavor-button::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 15px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #343a40;
}

.is-open > .docs-flavor-list {
  opacity: 1;
  visibility: visible;
}

.is-open > .c-dropdown-list {
  display: block;
}