<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
      {% include docs-navbar.html %}

      {% include new-sidebar.html %}
        
    <main class="main-container" role="main">
      {% include page-header.html %}
      
      {% if page.tabs %}
        {% include tabs.html %}
      {% endif %}
      
      <div class="main-demo-content">
        <div class="c-row">
          <div class="c-col-12 c-p-vertical-md">

            {{ content }}

          </div>
        </div>
      </div>
     
    {% include footer.html %}
    </main>
    
    {% include scripts.html %}
  </body>
</html>
