<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>

    {% include sidebar.html %}

    <main class="main-container" role="main">
        <div class="c-bg-primary c-text-white c-m-top-0 c-p-lg docs-bg-img">
            <div class="PageTitle-module">
              <h1 class="docs-title" id="content">{{ page.title }}</h1>
              <ul class="tabs">
                  <li class="tab-link active" data-tab="design">Design</li>
                  <li class="tab-link" data-tab="code">Code</li>
                </ul>
            </div>
            <p class="docs-lead">{{ page.description }}</p>
          </div>

      <div class="main-demo-content">

        <div class="c-row">
          <div class="c-col-12 c-p-vertical-md">

            {{ content }} 

          </div>

        </div>
      </div>

     
    {% include footer.html %}
    </main>


    {% include scripts.html %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.2.3/css-doodle.min.js"></script>
  </body>
</html>
