<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
      {% include docs-navbar.html %}

    <aside class="c-sidenav">
      <nav class="c-sidenav-body">
        <ul class="c-sidenav-menu">
          {%- assign page_slug = page.url | split: '/' | last -%}
          {%- for group in site.data.patterns -%}
          {%- assign link = group.pages | first -%}
          {%- assign link_slug = link.title | slugify -%}
          {%- assign group_slug = group.title | slugify -%}
          {%- assign active = nil -%}
          {%- if page.group == group_slug -%}
          {%- assign active = 'c-sidenav-menu-item-active' -%}
          {%- endif -%}

          <li class="c-sidenav-menu-item {% unless active == nil %} {{ active }}{% endunless %}">
            <a class="c-sidenav-menu-link">
              <span class="c-sidenav-menu-title">
                {{ group.title }}
              </span>
            </a>

            <ul class="c-sidenav-menu-submenu">
              {%- for doc in group.pages -%}
              {%- assign doc_slug = doc.title | slugify -%}
              {%- assign active = nil -%}
              {%- if page.group == group_slug and page_slug == doc_slug -%}
              {%- assign active = 'c-sidenav-menu-item-active' -%}
              {%- endif -%}
              <li {% unless active==nil %} class="c-sidenav-menu-item {{ active }}" {% endunless %}>
                <a class="c-sidenav-menu-link" href="{{ site.url }}{{ site.baseurl }}/content/{{ group_slug }}/{{ doc_slug }}/">
                  {{ doc.title }}
                </a>
              </li>
              {%- endfor -%}
            </ul>

          </li>
          {%- endfor -%}
        </ul>
      </nav>
    </aside>

    <main class="main-container" role="main">
   
        {% include page-header.html %}

      <div class="main-demo-content">

        <div class="c-row">
          <div class="c-col-12 c-p-vertical-md">

            {{ content }} 

          </div>
        </div>
      </div>

     
    {% include footer.html %}
    </main>


    {% include scripts.html %}

  </body>
</html>
