<!doctype html>
<html lang="en">

  <head>
    {% include header.html %}
  </head>

<body>

{% include docs-navbar.html %}
{% assign items = site.posts | group_by: 'category' %}

<aside class="doc-sidenav">
  <nav class="doc-sidenav-body">
    <ul class="doc-sidenav-menu">
      <li class="doc-sidenav-menu-item">
        {% for cat in items %}
        <span class="doc-sidenav-menu-link">
          <span class="doc-sidenav-menu-title">
            {{ cat.name | capitalize }}
          </span>
        </span>
        <ul class="doc-sidenav-menu-submenu">
          {% assign items = cat.items | sort: 'weight' %}
          {% for item in items %}
          <li class="doc-sidenav-menu-item {% if item.url == page.url %}doc-sidenav-menu-item-active{% endif %}">
            <a class="doc-sidenav-menu-link" href="{{ item.url }}">
              {{ item.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </li>
    </ul>
  </nav>
</aside>



  <main class="main-container" role="main">
        <div class="main-content">            
            <div class="docs-article-image" style="background-color:{{ page.color }}">
              <span class="docs-article-overlay"></span>
              
              <span class="docs-article-icon">
                <span class="icon">
                  <i class="fa fa-{{ page.icon }}"></i>
                </span>
              </span>

              <strong class="docs-article-title">
                  {{ page.title }}
                </strong>
            </div>
            
            
              {{ content }}

              <a class="c-btn-link c-pull-left" href="{{ site.url }}{{ site.baseurl }}/release-notes/">
                <i class="fa fa-arrow-left"></i> Back to all release notes
              </a>
            

        </div>

        {% include footer.html %} 
      </main>


  {% include scripts.html %}

</body>

</html>










